<section ng-controller="HomeController">


  <!-- INTRO CENTER -->
  <div id="intro-center" class="intro-block bg-color1 dark-bg fixed-bg double-padding text-center" style="background-image: url(modules/core/client/img/images/bg20.jpg);"
    data-selector="header">
    <div class="container">
      <div class="slogan" style="">
        <h1 data-selector="h1">Need Tech</h1>
        <h2 class="giant-title" data-selector="h2">For Your Startup</h2>
      </div>
      <a class="goto" href="#steps-path" data-selector="a.btn, a.download-btn, button.btn, a.goto">
        <i class="icon big-icon icon-arrow-down" data-selector=".icon"></i>
      </a>
    </div>
  </div>
</section>
<!-- STEPS PATH BLOCK -->
<section id="steps-path" data-selector="section">
  <div class="container">
    <div class="sep-bottom text-center">
      <h2 data-selector="h2">Problems Faced by Startup?</h2>
      <p class="desc-text editContent" data-selector="p">Not able to convert the idea exactly into tech within time frame and money</p>
    </div>

    <ul class="step-path-block">
      <li data-selector=".step-left-block li, .step-center-block li, .step-path-block li">
        <div class="step-img">
          <img src="modules/core/client/img/images/step1.png" class="screen" alt="" data-selector="img">
        </div>
        <div class="step-text" style="box-shadow: 0 4px 16px -2px rgba(0,0,0,.1), 0 0 0 1px rgba(0,0,0,.02);">
          <h3 class="title" data-selector="h3">Fail to understand the vision and break tech into several releases</h3>
          <p data-selector="p">
             Most of the startup idea fail to understand the vision and what is do able at the current scenario.They don't break the idean into small periodic launches
            <br>
          </p>
        </div>
      </li>
      <li class="reverse" data-selector=".step-left-block li, .step-center-block li, .step-path-block li">
        <div class="step-img">
          <img src="modules/core/client/img/images/step2.png" class="screen" alt="" data-selector="img">
        </div>
        <div class="step-text" style="box-shadow: 0 4px 16px -2px rgba(0,0,0,.1), 0 0 0 1px rgba(0,0,0,.02);">
          <h3 class="title" data-selector="h3">Poor/No Development Team</h3>
          <p data-selector="p">To translate functional rewuirement into tech,it takes up good experienced team to build the pillars </p>
        </div>
      </li>
      <li data-selector=".step-left-block li, .step-center-block li, .step-path-block li">
        <div class="step-img">
          <img src="modules/core/client/img/images/step3.png" class="screen" alt="" data-selector="img">
        </div>
        <div class="step-text" style="box-shadow: 0 4px 16px -2px rgba(0,0,0,.1), 0 0 0 1px rgba(0,0,0,.02);">
          <h3 class="title" data-selector="h3">Not Choosing right technology</h3>
          <p data-selector="p">As technolog is growing exponentially,the change in software languages are very fast.It is very important to adapt to the new technology</p>
        </div>
      </li>
      <li class="reverse" data-selector=".step-left-block li, .step-center-block li, .step-path-block li">
        <div class="step-img">
          <img src="modules/core/client/img/images/step4.png" class="screen" alt="" data-selector="img">
        </div>
        <div class="step-text" style="box-shadow: 0 4px 16px -2px rgba(0,0,0,.1), 0 0 0 1px rgba(0,0,0,.02);">
          <h3 class="title" data-selector="h3">High Budget/No Transparency</h3>
          <p data-selector="p">It is difficult to calcuate how much money it will take to build a scalable application</p>
        </div>
      </li>
    </ul>

  </div>
</section>

 	<!-- STEPS LEFT BLOCK 2 -->
   <section id="steps-left-2" class="dark-bg bg-color1" data-selector="section">
			<div class="container">
                <div class="sep-bottom">
                    <h2 data-selector="h2">How We Do It</h2>
                    <p class="desc-text editContent" data-selector="p">After several years of experience we realised that its not only the technology that boost your startup but the user experience and the ease to present your idea in front of the customers</p>	
                </div>			
                
                <ul class="step-left-block">
                    <li data-selector=".step-left-block li, .step-center-block li, .step-path-block li">
                        <div class="step-num">1</div>
                        <div class="step-img"><img src="modules/core/client/img/images/blog/post-img-1.jpg" class="screen" alt="" data-selector="img"></div>              
                        <div class="step-text" style="box-shadow: 0 4px 16px -2px rgba(0,0,0,.1), 0 0 0 1px rgba(0,0,0,.02);">
                            <h3 class="title" data-selector="h3">Understanding the Requirement</h3>
                            <p data-selector="p">You may take this text as a copied and pasted one, but it is not so. Appearances are deceitful. For real, this text was created by our copywriters, so you could see in details how would the final product look like.
                            We could paste here the part of some article or couple of paragraphs from interesting book (that you have read for sure and may be even liked) or text in unfamiliar language ever. But we did not.</p>
                        </div>
                    </li>
                    <li data-selector=".step-left-block li, .step-center-block li, .step-path-block li">
                        <div class="step-num" style="">2</div>
                        <div class="step-img"><img src="modules/core/client/img/images/blog/post-img-2.jpg" class="screen" alt="" data-selector="img"></div>
                        <div class="step-text" style="box-shadow: 0 4px 16px -2px rgba(0,0,0,.1), 0 0 0 1px rgba(0,0,0,.02);">
                            <h3 class="title" data-selector="h3">Breaking Project  Into Small Modules</h3>
                            <p data-selector="p">You may take this text as a copied and pasted one, but it is not so. Appearances are deceitful. For real, this text was created by our copywriters, so you could see in details how would the final product look like.
                            We could paste here the part of some article or couple of paragraphs from interesting book (that you have read for sure and may be even liked) or text in unfamiliar language ever. But we did not.</p>
                        </div>
                    </li>
                    <li data-selector=".step-left-block li, .step-center-block li, .step-path-block li">
                        <div class="step-num">3</div>
                        <div class="step-img"><img src="modules/core/client/img/images/blog/post-img-3.jpg" class="screen" alt="" data-selector="img"></div>  
                        <div class="step-text" style="box-shadow: 0 4px 16px -2px rgba(0,0,0,.1), 0 0 0 1px rgba(0,0,0,.02);">
                            <h3 class="title" data-selector="h3">Further Breaking Into Smaller Task</h3>
                            <p data-selector="p">You may take this text as a copied and pasted one, but it is not so. Appearances are deceitful. For real, this text was created by our copywriters, so you could see in details how would the final product look like.
                            We could paste here the part of some article or couple of paragraphs from interesting book (that you have read for sure and may be even liked) or text in unfamiliar language ever. But we did not.</p>
                        </div>
                    </li>
                    <li data-selector=".step-left-block li, .step-center-block li, .step-path-block li">
                        <div class="step-num">4</div>
                        <div class="step-img"><img src="modules/core/client/img/images/blog/post-img-4.jpg" class="screen" alt="" data-selector="img"></div>
                        <div class="step-text" style="box-shadow: 0 4px 16px -2px rgba(0,0,0,.1), 0 0 0 1px rgba(0,0,0,.02);">
                            <h3 class="title" data-selector="h3">Estimating Task and Completing</h3>
                            <p data-selector="p">You may take this text as a copied and pasted one, but it is not so. Appearances are deceitful. For real, this text was created by our copywriters, so you could see in details how would the final product look like.
                            We could paste here the part of some article or couple of paragraphs from interesting book (that you have read for sure and may be even liked) or text in unfamiliar language ever. But we did not.</p>
                        </div>
                    </li>
                </ul>
                
			</div>
    </section>
    

    
    	<!-- BENEFITS GRID CENTER BLOCK-->
		<section id="benefits-grid-center" data-selector="section">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <ul class="item-list-center">
                <li data-selector=".item-list-right li, .item-list-left li, .item-list-center li">
                  <i class="icon icon-mobile" data-selector=".icon"></i>
                  <h3 data-selector="h3">Our Commitment</h3>
                  <p data-selector="p">Your project looks great on any device. Content can be easily read and a user understands freely what you wanted to say him or her.</p>
                </li>
                <li data-selector=".item-list-right li, .item-list-left li, .item-list-center li">
                  <i class="icon icon-tools" data-selector=".icon"></i>
                  <h3 data-selector="h3">PSD Is Included </h3>
                  <p data-selector="p">The graphic source file in PSD format is included in the archive.</p>
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul class="item-list-center">
                <li data-selector=".item-list-right li, .item-list-left li, .item-list-center li">
                  <i class="icon icon-lightbulb" data-selector=".icon"></i>
                  <h3 data-selector="h3">Pure &amp; Simple</h3>
                  <p data-selector="p">No fluff. Nothing should lead the visitor away from the main essence of website. There must be just important information.</p>
                </li>
                <li data-selector=".item-list-right li, .item-list-left li, .item-list-center li">
                  <i class="icon icon-document" data-selector=".icon"></i>
                  <h3 data-selector="h3">Documentation</h3>
                  <p data-selector="p">The detailed documentation will help you in adjusting the project with little effort according to your requirements.</p>
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <ul class="item-list-center">
                <li data-selector=".item-list-right li, .item-list-left li, .item-list-center li">
                  <i class="icon icon-paintbrush" data-selector=".icon"></i>
                  <h3 data-selector="h3">Color Schemes</h3>
                  <p data-selector="p">The set of ready made CSS files with different color schemes will help you in quick landing’s adaptation according to your benchmark style.</p>
                </li>
                <li data-selector=".item-list-right li, .item-list-left li, .item-list-center li">
                  <i class="icon icon-layers2" data-selector=".icon"></i>
                  <h3 data-selector="h3">Multiplatform</h3>
                  <p data-selector="p">The page is adapted to the most of the popular platform in segment.</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>


    
		<!-- TEAM CIRCLE BLOCK -->
		<section id="team-circle" class="text-center team-block" data-selector="section">
        <div class="container">
          <h2 class="title" data-selector="h2">Team</h2>
          <div class="row">
            <div class="col-sm-4">
              <img src="modules/core/client/img/images/photo-team-1.jpg" class="img-circle screen" alt="Team 1" width="250" data-selector="img">
              <h3 class="name" data-selector="h3">John Doe</h3>
              <h4 class="occupation" data-selector="h4">Derector</h4>
              <p class="editContent" data-selector="p">No fluff. Nothing should lead the visitor away from the main essence of website. There must be just important information.</p>
              <ul class="soc-list">
                <li><a href="#" target="_blank"><i class="icon icon-twitter2" data-selector=".icon"></i></a></li>
                <li><a href="#" target="_blank"><i class="icon icon-facebook2" data-selector=".icon"></i></a></li>
                <li><a href="#" target="_blank"><i class="icon icon-dribbble2" data-selector=".icon"></i></a></li>
              </ul>
            </div>
            <div class="col-sm-4">
              <img src="modules/core/client/img/images/photo-team-2.jpg" class="img-circle screen" alt="Team 2" width="250" data-selector="img">
              <h3 class="name" data-selector="h3">Sarah Doe</h3>
              <h4 class="occupation" data-selector="h4">Manager</h4>
              <p class="editContent" data-selector="p">No fluff. Nothing should lead the visitor away from the main essence of website. There must be just important information.</p>
              <ul class="soc-list">
                <li><a href="#" target="_blank"><i class="icon icon-twitter2" data-selector=".icon"></i></a></li>
                <li><a href="#" target="_blank"><i class="icon icon-facebook2" data-selector=".icon"></i></a></li>
                <li><a href="#" target="_blank"><i class="icon icon-dribbble2" data-selector=".icon"></i></a></li>
              </ul>
            </div>
            <div class="col-sm-4">
              <img src="modules/core/client/img/images/photo-team-3.jpg" class="img-circle screen" alt="Team 3" width="250" data-selector="img">
              <h3 class="name" data-selector="h3">Tom Doe</h3>
              <h4 class="occupation" data-selector="h4">Developer</h4>
              <p class="editContent" data-selector="p">No fluff. Nothing should lead the visitor away from the main essence of website. There must be just important information.</p>
              <ul class="soc-list">
                <li><a href="#" target="_blank"><i class="icon icon-twitter2" data-selector=".icon"></i></a></li>
                <li><a href="#" target="_blank"><i class="icon icon-facebook2" data-selector=".icon"></i></a></li>
                <li><a href="#" target="_blank"><i class="icon icon-dribbble2" data-selector=".icon"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>